<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="beitmemcached" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--数据库连接-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-WebSite2-20150109180750;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="SQLServerConnectionString" connectionString="Data Source=192.168.1.29;Initial Catalog=docviewer;User ID=sa;password=cry.cap.fox-999" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <beitmemcached>
    <add key="MemcachedConfig" value="localhost" />
  </beitmemcached>
  <appSettings>

    <!--MongoDB配置,服务器需要修改-->
    <add key="connection" value="192.168.1.36:27017"/>
    <add key="database" value="docviewer"/>
    <add key="replicasetname" value="myset"/>
    
    <add key="DocViewer.MessageAssembly" value="Services" />
    <add key="msmq_address" value=".\private$\docviewer" />
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--文档管理系统索引位置,需要和WebSite一致-->
    <add key="segmentPath" value="E:\docviewer\src\Web\WebSite2\Segment"/>

    <add key="uri" value="tcp://localhost:61616"/>

    <!--图片相关配置,单元测试和API配置需要一致-->

    <!--图片支持大小-->
    <add key="ImageStore.MaxImageSize" value="3145728"/>
    <!--图片支持类型-->
    <add key="ImageStore.SupportImageType" value="\.(?i:bmp|jpeg|jpg|png|gif)$"/>
    <!--原图存储路径-->
    <add key="ImageStore.ImageDir" value="E:\docviewer\src\Web\WebSite2\UploadImages\View\"/>
    <!--原图显示Url-->
    <add key="ImageStore.ImageUrl" value="http://localhost:18888/UploadImages/View/"/>
    <!--压缩图存储路径-->
    <add key="ImageStore.CompressImageDir" value="E:\docviewer\src\Web\WebSite2\UploadImages\Compress\"/>
    <!--压缩图显示Url-->
    <add key="ImageStore.CompressImageUrl" value="http://localhost:18888/UploadImages/Compress/"/>
    <!--缩略图存储路径-->
    <add key="ImageStore.ThumbImageDir" value="E:\docviewer\src\Web\WebSite2\UploadImages\Thumb\"/>
    <!--缩略图显示Url-->
    <add key="ImageStore.ThumbImageUrl" value="http://localhost:18888/UploadImages/Thumb/"/>

    <!--文档相关配置,单元测试和API配置需要一致-->

    <!--文档存储目录-->
    <add key="StoreDir" value="E:\docviewer\src\Web\WebSite2\Docs\"/>
    <!--文档下载路径-->
    <add key="DownloadUrl" value="http://localhost:18888/Document/Download?Id="/>
    <!--文档预览目录-->
    <add key="DisplayDir" value="E:\docviewer\src\Web\WebSite2\Docs\"/>
    <!--文档浏览路径-->
    <add key="DisplayUrl" value="http://localhost:18888/Docs/"/>


    <!--<add key="SSO_SITE_URL" value="http://120.25.208.216:8089/Authenticate.aspx?ReturnUrl={0}" />-->
    <add key="SSO_SITE_URL" value="http://192.168.1.29:8089/Authenticate.aspx?ReturnUrl={0}" />

    <!--是否启用SSO登录-->
    <add key="SSO_ENABLE" value="true"/>

    <!--<add key="SSO_SITE_URL" value="http://localhost:9638/Authenticate.aspx?ReturnUrl={0}" />-->
    <add key="LOGIN_URL" value="/Account/Login"/>
    <add key="DEFAULT_URL" value="/Home/index"/>
    <add key="PageShowCount" value="55"/>
    <!--分页每页显示条数-->

    <!--应用程序Id-->
    <add key="ApplicationId" value="b8466118-be0b-4bc3-8ed9-3fbb14b197c5" />

    <!--禁用BrowserLink-->
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <!--日志配置-->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/docviewer_service.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="500KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>